 *{
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
  q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
  dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
  thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
  footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
  audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu,
  nav, section {
  display: block;
  }
  body {
  line-height: 1.2;
  }
  ol {
  padding-left: 0;
  list-style: none;
  }
  ul {
  padding-left: 0;
  list-style: none;
  }
  table {
  border-collapse: collapse;
  border-spacing: 0;
}
}




.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 5fr 1fr;
  grid-template-areas:
  "tt tt "
  "hd hd "
  "sd sd"
  "ct ct"
  "ft ft";
    grid-gap: 1px;

}

/* .wrapper div:nth-child(odd){
background-color: blue;
}

.wrapper div:nth-child(even){
  background-color: red;
} */

.wrapper div {

}


.title {
  grid-area: tt;
  /* justify-self: center;
   align-self: center; */
   background-color: rgb(44, 62, 80);
   color: white;


}

.header {
  grid-area: hd;
  background-color: rgb(44, 62, 80);
  color: white;
}



.sidebar {
  grid-area: sd;
  background-color: rgb(255,255,255);
  margin-top: 10vh;
  border: 1px solid black;
  border-radius: 5px;

}

.sidebartext {
  margin-top: 10vh;
  margin-left: 1vw;
}




.content {
  grid-area: ct;
  padding: 20px;
  background-color: white;
}

.media {
  /* border: 2px solid #f76707;
  border-radius: 5px; */
  background-color: #fff46e6;
  max-width: 800px;
}

.media {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "img content";
  margin-bottom: 1em;
  margin-top:75px;
}

/* .media-flipped {
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "content img";
} */

.media .image {
  grid-area: img;
}

.media .text {
 grid-area: content;
 padding: 20px;
}




.footer {
  grid-area: ft;
  background-color: rgb(44, 62, 80);
  color: white;
}

@media screen and (min-width: 736px)
{
  .wrapper {
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 80vh 80vh 20vh;
    grid-template-areas:
    "tt tt tt tt"
    "hd hd hd hd"
    "sd ct ct ct"
    "sd ct ct ct"
    "ft ft ft ft";
      grid-gap: 1px;
      margin-left: 2vw;
      margin-right: 2vw;
      margin-top: 1vw;
  }

  /* TODO: link sidebar to sidebar to text */
  /* TODO: improve color and font of sidebar */
  /* TODO: invert alternate images */
  /* TODO: create collapsing text columns */
  /* TODO: use consistent color properties rgb% */
  /* TODO: can the media queries be more discriminating? */
/* TODO: footer overlies media object on laptop view but not large screen */

}
