*{
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 5fr 1fr;
  grid-template-areas:
  "tt tt "
  "hd hd "
  "sd sd"
  "ct ct"
  "ft ft";
    grid-gap: 1px;

}

/* .wrapper div:nth-child(odd){
background-color: blue;
}

.wrapper div:nth-child(even){
  background-color: red;
} */

.wrapper div {
  border: solid black 1px;
}

.title {
  grid-area: tt;
  /* justify-self: center;
   align-self: center; */

}

.header {
  grid-area: hd;
}

.sidebar {
  grid-area: sd;
}

.content {
  grid-area: ct;
}

.footer {
  grid-area: ft;
}

@media screen and (min-width: 736px)
{
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 80vh 80vh 200px;
    grid-template-areas:
    "tt tt tt tt"
    "hd hd hd hd"
    "sd ct ct ct"
    "sd ct ct ct"
    "ft ft ft ft";
      grid-gap: 1px;
      margin-left: 5vw;
      margin-right: 5vw;
      margin-top: 1vw;
  }

}
